* {
  font-size: 50px;
  background-color: #bdff00;
  text-align: center;
}

header {
  display: flex;
  justify-content: center;
  font: size 80px;
  padding: 5px 5px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
}

button {
  text-decoration-color: black;
  padding: 14px 20px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  justify-content: space-between;
}

img {
  display: flex;
  margin: auto;
  width: 60%;
  height: 40%;
  align-items: center;
  box-shadow: 30px 30px 30px;
  padding-top: 10px;
}
